In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
%matplotlib inline

In [5]:
data = {'state': ['wait', 'start', 'end'], 'year':[1, 2, 3], 'pop':[1.5, 17, 23]}

In [10]:
frame = DataFrame(data, columns=['state', 'pop', 'year', 'fake_type'])
frame

   state   pop  year fake_type
0   wait   1.5     1       NaN
1  start  17.0     2       NaN
2    end  23.0     3       NaN

In [11]:
frame.columns

Index(['state', 'pop', 'year', 'fake_type'], dtype='object')

In [17]:
# 取state列
frame['state']

0     wait
1    start
2      end
Name: state, dtype: object

In [16]:
# 取第一行
frame.ix[0]

state        wait
pop           1.5
year            1
fake_type     NaN
Name: 0, dtype: object

In [20]:
frame['fake_type'] = np.arange(3)

In [21]:
frame

   state   pop  year  fake_type
0   wait   1.5     1          0
1  start  17.0     2          1
2    end  23.0     3          2

In [23]:
val = Series([-1.2, -1.5, -1.7], index=['two', 'four', 'five'])
val

two    -1.2
four   -1.5
five   -1.7
dtype: float64

In [25]:
val = Series([-1.2, -1.5, -1.7])
val

0   -1.2
1   -1.5
2   -1.7
dtype: float64

In [26]:
# 安装index name 填充数据
frame['fake_type'] = val
frame

   state   pop  year  fake_type
0   wait   1.5     1       -1.2
1  start  17.0     2       -1.5
2    end  23.0     3       -1.7

In [29]:
# del frame['fake_type']
frame

   state   pop  year
0   wait   1.5     1
1  start  17.0     2
2    end  23.0     3

In [30]:
frame.columns

Index(['state', 'pop', 'year'], dtype='object')

In [31]:
pop = {
    'c1': { 2001: 2.4, 2002: 2.9},
    'c2': { 2000: 1.5, 2001: 1.7, 2002: 3.6},
}
frame3 = DataFrame(pop)
frame3

       c1   c2
2000  NaN  1.5
2001  2.4  1.7
2002  2.9  3.6

In [32]:
frame3.T

    2000  2001  2002
c1   NaN   2.4   2.9
c2   1.5   1.7   3.6

In [34]:
DataFrame(pop, index=[2000, 2001, 2002, 2003])

       c1   c2
2000  NaN  1.5
2001  2.4  1.7
2002  2.9  3.6
2003  NaN  NaN

In [38]:
frame3.index.name = 'year'
frame3.columns.name = 'state'

In [41]:
frame3.values

array([[ nan,  1.5],
       [ 2.4,  1.7],
       [ 2.9,  3.6]])

In [42]:
obj = Series(range(3), index=['a', 'b', 'c'])
obj

a    0
b    1
c    2
dtype: int64

In [44]:
index = obj.index
index

Index(['a', 'b', 'c'], dtype='object')

In [45]:
index[1:]

Index(['b', 'c'], dtype='object')

In [46]:
# index 不可以修改
index[2] ='d'

TypeError: Index does not support mutable operations

In [47]:
index = pd.Index(np.arange(3))
index

Int64Index([0, 1, 2], dtype='int64')

In [48]:
obj2 = Series([1.5, -2.5, 0], index=index)
obj2.index is index

True

In [49]:
obj = Series([4.5, 7.2, -5.3, 3.6], index=['d', 'a', 'b', 'c'])
obj

d    4.5
a    7.2
b   -5.3
c    3.6
dtype: float64

In [51]:
obj2 = obj.reindex(['a', 'b', 'c', 'd', 'e'], fill_value=0)
obj2

a    7.2
b   -5.3
c    3.6
d    4.5
e    0.0
dtype: float64

In [52]:
obj3 = Series(['blue', 'purple', 'yellow'], index=[0, 2, 4])
obj3

0      blue
2    purple
4    yellow
dtype: object

In [53]:
obj3.reindex(range(6), method='ffill')

0      blue
1      blue
2    purple
3    purple
4    yellow
5    yellow
dtype: object

In [54]:
frame = DataFrame(np.arange(9).reshape((3, 3)), index=['a', 'b', 'c'])

In [55]:
frame

   0  1  2
a  0  1  2
b  3  4  5
c  6  7  8