In [6]:
%matplotlib inline

In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [8]:
s = pd.Series([1,3,6,np.nan,44,1])
print(s)

0     1.0
1     3.0
2     6.0
3     NaN
4    44.0
5     1.0
dtype: float64

In [12]:
dates = pd.date_range('20171101', periods=6)
print(dates)
# 6x4 随机数
# 右侧索引 dates
# 列ABCD
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df

DatetimeIndex(['2017-11-01', '2017-11-02', '2017-11-03', '2017-11-04',
               '2017-11-05', '2017-11-06'],
              dtype='datetime64[ns]', freq='D')

                   A         B         C         D
2017-11-01 -2.337428  0.090120  1.814274 -0.589429
2017-11-02 -0.850096  0.481753 -1.755513  1.160462
2017-11-03  0.611621 -0.849246 -2.042719  1.936361
2017-11-04  0.700807 -0.105589 -2.092778  0.512252
2017-11-05 -1.892451  0.670833 -0.255939 -0.472408
2017-11-06  0.496986 -0.523478 -0.135161  1.777270

In [13]:
df2 = pd.DataFrame({
    'A': 1.,
    'B': pd.Timestamp('20171101'),
    'C': pd.Series(1, index=list(range(4)), dtype='float32'),
    'D': np.array([3] *4, dtype='int32'),
    'E': pd.Categorical(['test', 'train', 'test', 'train']),
    'F': 'foo'
})
df2

     A          B    C  D      E    F
0  1.0 2017-11-01  1.0  3   test  foo
1  1.0 2017-11-01  1.0  3  train  foo
2  1.0 2017-11-01  1.0  3   test  foo
3  1.0 2017-11-01  1.0  3  train  foo

In [14]:
df.head()

                   A         B         C         D
2017-11-01 -2.337428  0.090120  1.814274 -0.589429
2017-11-02 -0.850096  0.481753 -1.755513  1.160462
2017-11-03  0.611621 -0.849246 -2.042719  1.936361
2017-11-04  0.700807 -0.105589 -2.092778  0.512252
2017-11-05 -1.892451  0.670833 -0.255939 -0.472408

In [18]:
index = pd.date_range('2/1/2018', periods=8)
print(index)

s = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])
print(s)

df = pd.DataFrame(np.random.randn(8, 3), index=index, columns=['A', 'B', 'C'])
print(df)

DatetimeIndex(['2018-02-01', '2018-02-02', '2018-02-03', '2018-02-04',
               '2018-02-05', '2018-02-06', '2018-02-07', '2018-02-08'],
              dtype='datetime64[ns]', freq='D')
a    0.091924
b    0.322377
c    0.633743
d   -0.500245
e    1.857102
dtype: float64
                   A         B         C
2018-02-01  0.348651 -0.165604  0.471007
2018-02-02 -0.607212  0.779911 -1.204920
2018-02-03 -0.257542  0.971425  0.921865
2018-02-04  1.625755  0.011420  0.225241
2018-02-05 -0.639605 -1.121578 -1.354199
2018-02-06  2.094930 -0.632517  0.599772
2018-02-07  0.468968  2.224555 -1.096691
2018-02-08 -1.941343 -1.265189  0.106385

## Head and Tail

In [21]:
long_series = pd.Series(np.arange(1000))
long_series.head()

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [23]:
long_series.tail()

995    995
996    996
997    997
998    998
999    999
dtype: int64

In [24]:
df[:2]

                   A         B         C
2018-02-01  0.348651 -0.165604  0.471007
2018-02-02 -0.607212  0.779911 -1.204920

In [28]:
# 把列label 转换
df.columns = [x.lower() for x in df.columns]
df

                   a         b         c
2018-02-01  0.348651 -0.165604  0.471007
2018-02-02 -0.607212  0.779911 -1.204920
2018-02-03 -0.257542  0.971425  0.921865
2018-02-04  1.625755  0.011420  0.225241
2018-02-05 -0.639605 -1.121578 -1.354199
2018-02-06  2.094930 -0.632517  0.599772
2018-02-07  0.468968  2.224555 -1.096691
2018-02-08 -1.941343 -1.265189  0.106385